# Copy this file to .env and fill in your values
# In Dokploy, set these as environment variables in the deployment config

MIDDLEWARE_PORT=8012

DB_NAME=zkteco
DB_USER=zkteco
DB_PASS=change_this_db_pass
DB_ROOT_PASS=change_this_root_pass
